:root {
        --size: 100%;
}

html {
        background: fixed;
        overflow-x: hidden;
}

h1 {
        text-align: center;
        position: relative;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-shadow: 0 0 0.15em #1da9cc;
        user-select: none;
        white-space: pre-wrap;
        filter: blur(0.007em);
        padding: 4%;
}

h2 {
        text-align: center;
        color: thistle;
        margin: auto;
        position: relative;
        text-shadow: -0.063rem 0.063rem 0.063rem rgb(73, 71, 72);
}

body {
        color: whitesmoke;
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 12pt;
        background-image: url("photos/back.jpg");
        padding: 0;
        margin: 0;
}

a:link {
        color: rgb(113, 139, 192);
}

a:visited {
        color: rgb(201, 146, 219);
}

a:hover {
        color: hotpink;
}

.topnav {
        background-color: #2f2d2d;
        overflow: hidden;
}

.topnav a {
        float: left;
        display: block;
        color: thistle;
        text-align: center;
        padding: 0.875rem 1rem;
        text-decoration: none;
        font-size: 1.063rem;
        cursor: grab;
}

.dropdown {
        float: left;
        overflow: hidden;
}

.dropdown .dropbtn {
        font-size: 1.063rem;
        border: none;
        outline: none;
        color: white;
        background-color: rgb(201, 146, 219);
        padding: 0.875rem 1rem;
        font-family: inherit;
        margin: 0;
}

.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 10rem;
        box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
        z-index: 1;
}

.dropdown-content a {
        float: none;
        color: black;
        padding: 0.75rem 1rem;
        text-decoration: none;
        display: block;
        text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
        background-color: thistle;
        color: white;
}

.dropdown-content a:hover {
        background-color: thistle;
        color: black;
}

.dropdown:hover .dropdown-content {
        display: block;
}

.heart {
        display: block;
        position: relative;
        margin-top: -9%;
        margin-left: 16%;
        width: 4rem;
        aspect-ratio: 1/1;
        border-image: radial-gradient(thistle 69%, #0000 70%) 84.5% fill/100%;
        clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.halo {
        display: block;
        position: relative;
        width: 2.5rem;
        margin-left: 18%;
        aspect-ratio: 1/1;
        border-image: radial-gradient(rgb(201, 146, 219) 69%, #0000 70%) 84.5% fill/100%;
        clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.outline {
        position: absolute;
        top: 0;
        left: 0;
        border: 0.125rem solid white;
        border-radius: 50%;
        z-index: 100;
      }

.container {
        z-index: -999;
        height: 20%;
        width: 20%;
        position: relative;
        margin-left: 75%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
}

.moon {
        background-color: #39beff;
        height: 10.625rem;
        width: 10.625rem;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
}

.crater {
        background-color: #31b4ff;
        height: 1.875rem;
        width: 1.875rem;
        border-radius: 50%;
        position: relative;
}

.crater:before {
        content: "";
        position: absolute;
        height: 1.563rem;
        width: 1.563rem;
        border-radius: 50%;
        box-shadow: -0.313rem 0 0 0.125rem #1ca4f9;
        top: 0.125rem;
        left: 0.438rem;
}

.crater1 {
        top: 1.688rem;
        left: 5.625rem;
        transform: scale(0.9);
}

.crater2 {
        bottom: 0.938rem;
        left: 3.813rem;
        transform: scale(0.6);
}

.crater3 {
        left: 0.938rem;
        transform: scale(1.05)
}

.crater4 {
        top: 1.438rem;
        left: 7.375rem;
        transform: scale(1.1)
}

.crater5 {
        left: 2.188rem;
        transform: scale(0.5)
}

.shadow {
        height: 11.875rem;
        width: 11.875rem;
        box-shadow: 1.313rem 0 0 0.313rem rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        position: relative;
        bottom: 9.844rem;
        right: 2.875rem;
        filter: blur(0.188rem)
}

.eye {
        height: 0.75rem;
        width: 0.75rem;
        background-color: #161616;
        position: relative;
        border-radius: 50%;
}

.eye-l {
        bottom: 15.938rem;
        left: 3.688rem;
}

.eye-r {
        bottom: 16.688rem;
        left: 6.313rem;
}

.mouth {
        height: 0.313rem;
        width: 0.625rem;
        border: 0.188rem solid #161616;
        position: relative;
        bottom: 16.375rem;
        left: 4.938rem;
        border-top: none;
        border-radius: 0 0 0.625rem 0.625rem;
}

.blush {
        height: 0.469rem;
        width: 0.469rem;
        background-color: #F4DDE4;
        position: relative;
        border-radius: 50%;
        filter: blur(0.188rem)
}

.blush1 {
        bottom: 17.063rem;
        left: 3.125rem;
}

.blush2 {
        bottom: 17.5rem;
        left: 7.188rem;
}

.orbit {
        height: 17.5rem;
        width: 17.5rem;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        animation: spin 5s infinite linear;
}

@keyframes spin {
        100% {
                transform: rotate(360deg)
        }
}

.rocket {
        background-color: #fafcf7;
        height: 3.125rem;
        width: 1.563rem;
        border-radius: 50% 50% 0 0;
        position: relative;
        left: -0.688rem;
        top: 7.188rem;
}

.rocket:before {
        position: absolute;
        content: "";
        background-color: #39beff;
        height: 1.25rem;
        width: 3.438rem;
        z-index: -1;
        border-radius: 50% 50% 0 0;
        right: -0.938rem;
        bottom: 0;
}

.rocket:after {
        position: absolute;
        content: "";
        background-color: #39beff;
        height: 0.25rem;
        width: 0.938rem;
        border-radius: 0 0 0.125rem 0.125rem;
        bottom: -0.25rem;
        left: 0.269rem;
}

.window {
        position: relative;
        height: 0.625rem;
        width: 0.625rem;
        background-color: #151845;
        border: 0.125rem solid #b8d2ec;
        border-radius: 50%;
        top: 0.938rem;
        left: 0.313rem;
}

#about_header {
        display: flex;
        margin-top: 2%;
        justify-content: center;
}

.about {
        display: flex;
        width: 80%;
        height: 20%;
        flex-direction: column;
        border: 0.125rem solid rgb(194, 138, 180);
        padding: 5%;
        margin: auto;
        background-color: #000000;
        position: relative;
}

.table-poster {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

}

table {
        table-layout: fixed;
        width: 40%;
        margin-top: 2%;
        margin-left: -5%;
        position: relative;
        table-layout: auto;
        overflow-x: visible;
        border-collapse: collapse;
}

th {
        color: #151845;
        background-color: rgb(163, 179, 193);
        border: 0.063rem solid white;
}

td {
        text-align: center;
        color: #daa9c6;
        border: 0.063rem solid white;
}

#poster {
        width: 30%;
        position: relative;
        height: fit-content;
        aspect-ratio: 4/3;
        margin-top: 2%;
}

#suad {
        display: flex;
        margin-top: 3%;
        margin-left: 3%;
        position: relative;
        width: 18%;

}

.yt {
        display: flex;
        margin: auto;
        margin-top: -25%;
        position: relative;
        aspect-ratio: 16 / 9;
        width: 50%;
}

#white {
        display: flex;
        margin-top: -28%;
        margin-left: 79%;
        position: relative;
        width: 18%;
}

#Play {
        margin-top: 5%;
}

.game {
        display: flex;
        margin: auto;
        position: relative;
        aspect-ratio: 5/4;
        width: 98%;

}

footer {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        color: thistle;
        background-color: #2f2d2d;
        padding: 1.5%;
        position: relative;
}